
@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>
            Tabula-py now able to extract remote PDF 
        </h1>
        <div>
            tabula-py is a Python library which enables 
            you to extract tables from PDF into pandas 
            DataFrames. Today, I released v0.8.0. 
            In this post, I will introduce improvements 
            after previous post of tabula-py. If you don’t 
            familiar with tabula-py, you can see previous 
            one.
        </div>               

    </div>
</body>
</html>
