<body>
 <div>CheckBox:<br>

   <mat-checkbox style="background-color: blue;" >Check me!</mat-checkbox>
  </div>

  <div>DatePicker:<br>

    <mat-form-field style="background-color:blueviolet">
      <input matInput [matDatepicker]="myDatePicker" placeholder="select date">
      <mat-datepicker-toggle matSuffix [for]= "myDatePicker " ></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>RadioButton:<br>
    <mat-radio-group style="background-color:lightpink; blanchedalmond;">
      Horizonatl:<br>
      <mat-radio-button value =1>one</mat-radio-button>
      <mat-radio-button value =2>Two</mat-radio-button>
      <mat-radio-button value =3>Three</mat-radio-button><br>
      Vertical:
      <mat-radio-group><br>
          <mat-radio-button value =1>one</mat-radio-button><br>
          <mat-radio-button value =2>Two</mat-radio-button><br>
          <mat-radio-button value =3>Three</mat-radio-button><br>
      </mat-radio-group>

    </mat-radio-group>


  </div>

</body>